*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  padding: 20px;
}
.navbar .logo{
  flex:1;
  padding-left: 20px;
}
.navbar .navlinks{
flex:2;
display: flex;
justify-content: space-around;
padding: 20px;
}
.link{
  font-size: 30px;
}
.link:hover{
color: rgb(100, 80, 80);
cursor: pointer;
}

.herosection {
  height: 500px;
  max-width: 100vw; /* Prevents horizontal overflow */
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(12, 103, 174, 1) 45%, rgba(0, 212, 255, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow-x: hidden;  */
}

.herosection .herodiv{
  text-align: center;
}
.aboutusdiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutusdiv p{
  font-size: 50px;
} 

.aboutus-description{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.aboutus-description div{
  flex: 1;
}
.aboutus-description div p{
  padding: 100px 20px;
  font-size: 20px;
  line-height: 2;
}
.Task-Manager{
  margin-top: 50px;
}
.createtodo{
 text-align: center;
}