.navbar{
  display: flex;
  padding: 20px;
  border-bottom: 5px solid rgb(100, 80, 80);
}
.navbar .logo{
  flex:1;
  padding-left: 20px;
}
.navbar .navlinks{
flex:2;
display: flex;
gap: 180px;
padding: 50px 10px 20px 10px;
}
.link{
  font-size: 50px;
}
.link:hover{
color: rgb(100, 80, 80);
cursor: pointer;
}